// Import other styles
@import './strapper';
@import './colors';
@import './fonts';

/**
 * Main styling for the app
 */
.st0 {
  fill: #01256E;
}

.underline,
a.underline {
  text-decoration: underline !important;
}

// Styling cards
.card {
  border: 1px solid $lighter-gray;
  padding: 1rem;
  border-radius: 0.2rem;
  background: white;
  box-shadow: 0rem 0.2rem 0.1rem rgba(0, 0, 0, 0.05);
  margin-bottom: 0.5rem;
}

a.card {
  color: black;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: black;
  }
}


.flex {
  display: flex;

  .flex-1 {
    flex: 1;
  }

  .image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 50%;
  }
}

@media screen and (max-width: 572px) {
  .flex.no-flex-mobile {
    display: block;

    .image {
      margin: 0 auto;
      width: 6rem;
      height: 6rem;
      margin-bottom: 1rem;
    }
  }
}

.image.onWhite {
  border: 0.2rem solid white;
  box-shadow: 0rem 0.2rem 0.1rem rgba(0, 0, 0, 0.05);
}

// Styling link colors
a {
  color: $light-blue;

  &:hover {
    color: $blue;
  }
}

// Make text in buttons bold
.btn {
  font-weight: bold;
}

// Stying for group of buttons
.buttons .btn {
  margin-right: 0.5rem;
}

// Style colors of secondary buttons
.btn-secondary {
  background: $light-gray !important;
  border: 0px solid transparent;
  box-shadow: 0px 2px 0px $gray;

  &:hover,
  &:active,
  &:focus {
    background: $lighter-gray !important;
  }
}

// Style colors of plain buttons
.btn-plain {
  background: transparent !important;
  border: 0px solid transparent;
  box-shadow: 0px;
  color: $light-blue;

  &:hover,
  &:active,
  &:focus {
    background: transparent !important;
    color: $blue;
  }
}

// Style colors of primary buttons
.btn-primary {
  background: $light-blue !important;
  border: 0px solid transparent;
  box-shadow: 0px 2px 0px $blue;

  &:hover,
  &:active,
  &:focus {
    background: $lighter-blue !important;
  }
}

.timestamp {
  color: $gray;
  font-style: italic;
  font-size: 0.8rem;
}

.verify {
  color: $gray;
  font-size: 0.8rem;
}

// Styling list of notifications
.notif {
  width: 100%;
  padding: 0.25rem 0rem 0.25rem 1.25rem;

  .btn {
    float: right;
  }

  &.unread {
    &::before {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      position: absolute;
      left: 1rem;
      transform: translateY(0.5rem);
      background: $blue;
      display: block;
    }
  }

  & + .notif {
    border-top: 1px solid $light-gray !important;
  }
}
