/**
 * Set of variable colors that can be used in any other file in this directory
 */

// Neutrals
$lightest-gray: #f7f7f7;
$lighter-gray: #efefef;
$light-gray: #e0e0e0;
$gray: #bcbcbc;
$dark-gray: #8e8e8e;
$darker-gray: #636363;

// Colors
$blue: #01256e;
$lighter-blue: #056cbf;
$light-blue: #045ea7;
$red: #95001a;

// Classes for colors
.red-text {
  color: $red;
}

a:hover {
  .red-text {
    color: darken(red, 30%);
  }
}

.grayBackground {
  background-color: $gray
}

.lightGrayBackground {
  background-color: $lightest-gray
}
