body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
.form-control,
.dropdown-item {
  font-family: 'Lato', sans-serif;
}

// Apply styling to placeholders on all input fields
::-webkit-input-placeholder {
  color: $gray !important;
}

::-moz-placeholder {
  color: $gray !important;
}

:-ms-input-placeholder {
  color: $gray !important;
}

:-moz-placeholder {
  color: $gray !important;
}
