/**
 * Remove underline on links
 */
a {
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}

/**
 * Styling for background images to fit their content
 */
.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**
 * Give buttons a hover effect
 */
.btn {
  cursor: hand;
  cursor: pointer;

  &.no-cursor {
    cursor: default !important;
  }
}

/**
 * Spacing and padding
 */
.pad-0 {
  padding: 0 !important;
}

.pad-1 {
  padding: 1rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-0-1 {
  padding: 0 1rem;
}

.pad-0-2 {
  padding: 0 2rem;
}

.pad-1-0 {
  padding: 1rem 0;
}

.pad-2-0 {
  padding: 2rem 0;
}

.pad-1-2 {
  padding: 1rem 2rem;
}

.pad-2-1 {
  padding: 2rem 1rem;
}

.space-0,
.space-1,
.space-2,
.space-3,
.space-4 {
  display: block;
  width: 100%;
}

.space-0 {
  height: 0rem;
}

.space-1 {
  height: 1rem;
}

.space-2 {
  height: 2rem;
}

.space-3 {
  height: 3rem;
}

.space-4 {
  height: 4rem;
}

.marg-0 {
  margin: 0 !important;
}

.marg-top-0 {
  margin-top: 0;
}

.marg-top-05 {
  margin-top: 0.5rem;
}

.marg-top-1 {
  margin-top: 1rem;
}

.marg-top-2 {
  margin-top: 2rem;
}

.marg-top-3 {
  margin-top: 3rem;
}

.marg-bot-0 {
  margin-bottom: 0rem !important;
}

.marg-bot-05 {
  margin-bottom: 0.5rem !important;
}

.marg-bot-1 {
  margin-bottom: 1rem !important;
}

.marg-bot-15 {
  margin-bottom: 1.5rem;
}

.marg-bot-2 {
  margin-bottom: 2rem;
}

.marg-bot-3 {
  margin-bottom: 3rem;
}

.marg-right-0 {
  margin-right: 0;
}

.marg-right-05 {
  margin-right: 0.5rem;
}

.marg-right-1 {
  margin-right: 1rem;
}

.marg-left-0 {
  margin-left: 0;
}

.marg-left-05 {
  margin-left: 0.5rem;
}

.marg-left-1 {
  margin-left: 1rem;
}

/**
 * Coloring and typography
 */
.black {
  background: black;
}

.white {
  background: white;
}

.black-text-important {
  color: black !important;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: black !important;
  }
}

.white-text-important {
  color: white !important;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: white !important;
  }
}

.black-text,
a.black-text {
  color: black;
}

.white-text,
a.white-text {
  color: white;
}

.black-text-hover:hover,
a.black-text-hover:hover {
  color: black;
}

.white-text-hover:hover,
a.white-text-hover:hover {
  color: white;
}

.no-decoration,
a.no-decoration,
a.no-decoration:hover {
  text-decoration: none;
}

.caps {
  text-transform: capitalize;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal !important;
}

.italic {
  font-style: italic;
}

/**
 * Further functionallity
 */
.cursor,
button {
  cursor: pointer;
  cursor: hand;
}

.animate {
  transition: all 0.2s ease !important;
}

/**
 * Positioning
 */
.absolute {
  position: absolute;

  &.right {
    right: 0;
  }
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.inline {
  display: inline-block !important;
  width: auto !important;
}

.block {
  display: block;
}

.full-width {
  width: 100%;
}

.left {
  text-align: left;
}

.float-left {
  float: left;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.float-right {
  float: right;
}

.centerContent {
  width: 100%;
  text-align: center;
}

.center {
  justify-content: center;
  align-items: center;
  flex-direction: 'column'
}
