@import url(//db.onlinewebfonts.com/c/901497541657a2f24e42848bcf7fad52?family=Avenir+Heavy);

#root {
    display: fixed;
    z-index: 1000;   
}
  
  #sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 25px;
    padding-left: 15px;
    height: calc(100vh - 20px);
    width: 90px;
    background: linear-gradient(354.31deg, #4A537A 7.7%, #5C648D 98.05%);
    transition: all 500ms;
    border-radius: 5px;
    box-shadow: 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02), 35.0877px 0px 70px rgba(86, 128, 248, 0.05), 14.0351px 0px 25px rgba(86, 128, 248, 0.03);
  }
  
  #sidebar:hover {
    width: 230px;
  }

  .none {
    display: none;
    transition: all 1000ms;
  }
  
  #content {
    padding: 30px;
    background-color: azure;
  }
  
  .cell {
    color: white;
    transition: all 300ms;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .cell:hover {
    border-left: white solid 5px;
    cursor: pointer;
    height: 60px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 60px;
    height: 60px;
    font-size: 18px;
    border-radius: 30px;
  }
  
  .cell-title {
    opacity: 1;
    font-family: Avenir Heavy;
    font-size: 14px;
    transition: all 500ms;
  }
  
  .cell-title.hidden {
    opacity: 0;
  }
  
  .cell-label {
    opacity: 1;
    font-size: medium;
    padding-top: 6px;
    transition: all 500ms;
  }
  
  .cell-label.hidden {
    padding-top: 0;
    opacity: 0;
  }
  .gray-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(196, 196, 196, 0.4);
    z-index: 1;
  }