@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.custom-dropdown-toggle {
    display: flex;             
    justify-content: space-between; 
    align-items: center;       
    background-color: #f8f9fa;  
    color: #6c757d;             
    border-color: #ced4da;      
    border-radius: 4px;         
    padding: 8px 12px;          
    margin-right: 7px;          
    margin-bottom: 5px;
    font-size: 14px;            
    text-align: left;           
    font-family: 'Inter', sans-serif;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.custom-dropdown-toggle:hover, 
.custom-dropdown-toggle:focus {
    border-color: #0A1D7C !important; 
    background-color: #f8f9fa !important;
}

.custom-dropdown-toggle.active {
    border-color: #0056b3 !important; 
    background-color: #f8f9fa !important;
    color: #000000 !important; 
}

.custom-dropdown-icon {
    margin-left: 8px;           
    pointer-events: none;    
}

.dropdown-toggle::after {
    display: none !important; 
}

.input-group-text.search{
    background-color: #FAFBFC;
    border: 1px solid #ced4da;
    border-radius: 4px 0 0 4px;
    padding: 0.375rem 0.75rem;
    border-right: none;
    margin-left: 10px;
    margin-bottom: 0px;
}

.input-group-text .search {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.input-group .form-control.search-bar {
    flex: 0 0 485px;
    background-color: #FAFBFC;
    border-radius: 0 4px 4px 0;
    border-left: none;
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    padding: 0.275rem 0.15rem;
    margin-bottom: 0;
}

.right-container {
    display: flex;
    align-items: center;
}

.col {
    align-items: center;
}

