@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(//db.onlinewebfonts.com/c/901497541657a2f24e42848bcf7fad52?family=Avenir+Heavy);
@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    src: local('Avenir LT Pro 45 Book'), local('AvenirLTPro-Book'), url(https://fonts.gstatic.com/l/font?kit=ijwUs5PnXdA4ZZUA55d-&skey=8887f17a62203d44&v=v3) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  };
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#map {
    height: 100%;
}

html,
body {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
}

html {
    overflow-y: hidden;
}

#auth-root {
    margin-top: 10px;
}

.box {
    position: relative;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    padding: 20px 20px 40px 20px;
    box-shadow: 0 0 10px rgba(3, 215, 252, 0.2);
    /*Blue*/
}

.splash {
    position: absolute;
    top: 0;
    left: calc(50% - 300px);
    width: 600px;
    height: 600px;
    background-image: url("../img/login-hero-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.fixed-container {
    padding: 10px;
    background-color: white;
    border-bottom: solid 1px lightgray;
}

.no-span {
    display: table;
    white-space: nowrap;
}

.count {
    position: relative;
    text-align: center;
    margin: 12px 0;
}

.count:before {
    content: "";
    display: block;
    border-top: solid 1px #E0E0E0;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
}

.count span {
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 1;
    color: gray;
}

#map {
    width: 100vw;
    position: absolute;
    top: 70px;
    pointer-events: auto;
}

.map-list {
    position: relative;
    width: 100vw;
    z-index: 2;
    max-height: calc(100vh - 70px);
    overflow-y: scroll;
}

.map-container {
    background: white;
    padding-top: 10px;
    border-radius: 10px;
}

.map-cell {
    border-top: solid #E0E0E0;
    background-color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    transition: border-left 0.2s;
}

.map-overlay {
    height: calc(60vh - 12px);
}

.map-cell:hover {
    border-left: solid #0069D9 10px;
}

.scroll-indicator {
    margin-bottom: 12px;
    border-radius: 10px;
    height: 5px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E0E0E0;
}

.cell-container {
    padding-bottom: 100px;
}

.scroll-indicator:hover {
    background-color: gray;
}

.map-list.sticky {
    overflow-y: scroll;
}

.cell-container.sticky {
    max-height: 100%;
    overflow-y: scroll;
}

.padder {
    padding-left: 12px;
    padding-right: 12px;
}

.point {
    cursor: pointer;
}

.filter-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    transition: all 400ms;
}

.form-wrapper {
    background-color: white;
    padding: 20px;
    height: 100%;
}

.tag {
    border: solid 1px;
    border-radius: 2px;
    padding: 0 8px 3px 8px;
    display: inline-block;
    margin-top: 8px;
    margin-right: 5px;
}

.clear-all {
    padding: 7px 8px 5px 8px;
}

.clear-all:hover {
    opacity: 0.75;
    cursor: pointer;
}

.remove-tag {
    opacity: 1;
    margin-left: 5px;
    font-size: 22px;
}

.remove-tag:hover {
    opacity: 0.75;
}

.step-wrapper {
    padding: 20px;
}


@-webkit-keyframes translate {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-60px)
    }
}

@keyframes translate {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-60px)
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.translate {
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: translate;
    animation-name: translate;
}

.fade-out {
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fade-out;
    animation-name: fade-out;
}

.fade-in {
    -webkit-animation-duration: 600ms;
    animation-duration: 600ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
}

.hide {
    opacity: 0;
}

.react-bootstrap-table th {
    background-color: #F8F9FA;
    border: 0;
}

.react-bootstrap-table tbody tr:first-child td {
    border-top: 0;
}

@media only screen and (min-width: 900px) {
    .scroll-container {
        max-height: calc(100vh - 123px);
        overflow-y: scroll;
    }
    .list-wrapper {
        border-right: solid 6px #F8F9FA;
    }
}

.row-spaced {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.row-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.reverse-column {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
}


/*Loading Spinner, Temporary*/

.spinner {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #0069D9 10%, rgba(0, 105, 217, 0) 42%);
    background: -webkit-linear-gradient(left, #0069D9 10%, rgba(0, 105, 217, 0) 42%);
    background: -o-linear-gradient(left, #0069D9 10%, rgba(0, 105, 217, 0) 42%);
    background: -ms-linear-gradient(left, #0069D9 10%, rgba(0, 105, 217, 0) 42%);
    background: linear-gradient(to right, #0069D9 10%, rgba(0, 105, 217, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.spinner:before {
    width: 50%;
    height: 50%;
    background: #0069D9;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.spinner:after {
    background: #F8F9FA;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader {
    display: inline-block;
    border: 2px solid transparent;
    border-top: 2px solid white;
    border-radius: 50%;
    margin-left: -16px;
    margin-right: 2px;
    margin-bottom: -2px;
    width: 16px;
    height: 16px;
    animation: spin 800ms linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.myModal {
    width: 70% !important;
    max-width: 70% !important;
}

.modalMobile {
    height: 100vh !important;
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
}

.modal-col-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalImage {
    padding-left: 30px;
    padding-top: 20px;
}

.modal-hours {
    padding-bottom: 15px;
    padding-left: 24px;
    display: flex;
    flex-direction: row;
}

.modal-hours-container {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding-left: 15px;
    width: 30vw;
}

.modal-hours-container h5 {
    font-size: 14px;
    font-weight: bold;
}

.modal-center-text {
    text-align: center;
}

.modal-content  {
    border-radius: 0px; 
    border-color: transparent;
}

.modal-col-flex-end {
    font-weight: 600;
    color: #4F4F4F;
}

ß .modal-col-flex-start {
    display: flex;
    justify-content: flex-start;
}

.modal-text {
    display: inline;
}

.modal-card-text {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    font-size: 13px;
    padding-bottom: 10px;
}

.modal-hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.modal-body {
    padding-left: 2rem;
    padding-right: 2rem;
}

.close {
    color: #fff; 
    opacity: 1;
    font-size: 50px !important;
    font-weight: 100 !important;
    padding-top: 0.3rem!important;
    padding-bottom: 1rem !important;
}

.image-cover {
    padding: 1rem 2rem .5rem;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.modalHeader {
    font-size: 13px;
}

.modalHeader h5 {
    font-family: Avenir Heavy;
    font-size: 15px;
}

.image-cover h2 {
    color: white;
    font-family: Avenir;
    padding-left: 2vw;
    font-size: 20px;
}

.desc-Box {
    padding-top: 20px;
}

.desc-Box p {
    font-size: 13px;
}
.desc-Box h3{
    font-family: Avenir Heavy;
    font-size: 20px; 
    font-weight: 800;
}

.view-container {
    overflow: hidden;
    width: 95%;
    height: calc(100vh - 56px);
    height: -moz-calc(100vh - 56px);
    height: -webkit-calc(100vh - 56px);
    padding-left: 15px;
    padding-right: 15px;
}

.switch-view-button {
    margin: 0 15px;
}

.view-row {
    height: 85%;
    margin-left: 0;
    margin-right: 0;
}

.list-view-text-body {
    margin-bottom: 0;
}

.map-view {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.label {
    background-color: #56CCF2 !important;
    border-radius: 14px !important;
    padding: 4px  13px !important;
    margin-right: 5px !important;
    font-weight: bold !important;
    font-size: 14px;
}

.not-found-oops {
    color: black;  /* Fallback: assume this color ON TOP of image */
    background-image: url("../img/blue-stars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15em;
}

.modal-map {
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    top: 0;
}
.modal-info {
    overflow-y: scroll;
    padding: 0vh 4vw;
}

@media only screen and (min-width: 768px) {
    /*Desktop Specific*/
    #auth-root {
        margin-top: 30px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .step-wrapper {
        padding: 20px 0 20px 60px;
    }
    .map-list {
        padding-top: 0;
        width: 50vw;
        transition: width 200ms;
        max-height: calc(100vh - 70px);
    }
    .map-list.expand {
        width: 100vw;
    }
    .map-container {
        padding-top: 0;
        border-radius: 0;
    }
    .modal-hours-container {
        font-size: 16px;
        padding-left: 0px;
    }
    .desc-Box p {
        font-size: 16px;
    }
    .desc-Box h3{
        font-size: 33px; 
    }
    .modal-card-text {
        font-size: 16px;
    }
    .modalHeader {
        font-size: 16px;
    }
    .modalHeader h5 {
        font-size: 20px;
    }
    .modal-hours-container h5 {
        font-size: 18px;
    }
    .modal-content  {
        border-radius: 20px; 
    }
    #map {
        width: 50vw;
        transition: width 200ms;
        position: relative;
        top: 0;
    }
    #map.map-hide {
        width: 0;
    }
    .cell-container {
        padding-bottom: 30px;
    }
}