@import url('https://fonts.googleapis.com/css?family=Open+Sans')

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
}

#map {
    height: 100%;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
